{% include "layout.html" %}

{% block body %}
<div class="row " style="margin: 100px;">

    <div class="col-lg-4 mb-4">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage1">
            <img class="w-100 mb-4 rounded" src="../Public/img/landspace1.jpg" alt="">
        </a>
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage2">
            <img class="w-100 mb-4 rounded" src="../Public/img/protraint1.jpg" alt="">
        </a>
    </div>

    <div class="col-lg-4 mb-4">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage3">
            <img class="w-100 mb-4 rounded" src="../Public/img/protraint2.jpg" alt="">
        </a>
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage4">
            <img class="w-100 mb-4 rounded" src="../Public/img/landspace2.jpg" alt="">
        </a>

    </div>


    <div class="col-lg-4 mb-4">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage5">
            <img class="w-100 mb-4 rounded" src="../Public/img/landspace3.jpg" alt="">
        </a>
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage6">
            <img class="w-100 mb-4 rounded" src="../Public/img/protraint3.jpg" alt="">
        </a>

    </div>

    
</div>

<!-- Modal Gallery -->

<!-- imagen 1-->
<div
    tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true"
    class="modal fade" id="modalImage1"
>
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../Public/img/landspace1.jpg" alt="">
        </div>
    </div>
</div>

<!-- imagen 2-->
<div
    tabindex="-1" aria-labelledby="modalImage2" aria-hidden="true"
    class="modal fade" id="modalImage2"
>
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../Public/img/protraint1.jpg" alt="">
        </div>
    </div>
</div>

<!-- imagen 3-->
<div
    tabindex="-1" aria-labelledby="modalImage3" aria-hidden="true"
    class="modal fade" id="modalImage3"
>
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../Public/img/protraint2.jpg" alt="">
        </div>
    </div>
</div>


<!-- imagen 4-->
<div
    tabindex="-1" aria-labelledby="modalImage4" aria-hidden="true"
    class="modal fade" id="modalImage4"
>
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../Public/img/landspace2.jpg" alt="">
        </div>
    </div>
</div>

    <!-- imagen 5-->
    <div
    tabindex="-1" aria-labelledby="modalImage5" aria-hidden="true"
    class="modal fade" id="modalImage5"
>
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="../Public/img/landspace3.jpg" alt="">
        </div>
    </div>
</div>

        <!-- imagen 6-->
        <div
        tabindex="-1" aria-labelledby="modalImage6" aria-hidden="true"
        class="modal fade" id="modalImage6"
    >
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img src="../Public/img/protraint3.jpg" alt="">
            </div>
        </div>
    </div>

<!-- Modal Gallery final-->
{% endblock %}
{% include "footer.html" %}