{% include "layout.html" %}

{% block body %}
<!-- Servicios -->
<section class="container-fluid serivicios ">
    <a href="" name="servicios"></a>
    <h2 class="text-center p-4">Servicios</h2>
    <div class="container mx-auto">
        <div class="row service">
            <div class="col-md-7 order-lg-2">
                <!-- Carrusel imagenes servicios -->
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../Public/img/restaurante1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../Public/img/restaurante3.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../Public/img/restaurante2.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            
            </div>
            <div class="col-lg-5 col-sm-12 order-lg-1 service-text">
                <div>
                    <h3 class="">Restaurante</h3>
                    <p class="">
                        De la mano del Chef Gabriel el Restaurante Le Séjour ubicado en el primer piso del hotel, es el lugar ideal para disfrutar la exquisitez de la Cocina Local e Internacional. En nuestra carta podrá elegir desde deliciosas entradas, ensaladas, arroces, platos fuertes y postres.
                        <br><br>
                        Su servicio se encuentra disponible desde las 6:00 am hora en la que se puede disfrutar de un excelente café Colombiano acompañando el desayuno tipo buffet, el momento del almuerzo y la cena es la ocasión perfecta para degustar la variedad y estilos de carnes y mariscos.
                    </p>
                </div>
            </div>
        </div>
        <div class="row service">
            <div class="col-md-7 order-lg-1">
                <!-- Carrusel imagenes servicios -->
                <div id="carouselPiscina" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPiscina" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPiscina" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselPiscina" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../Public/img/piscina1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../Public/img/piscina2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../Public/img/piscina3.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPiscina"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPiscina"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 order-lg-2 service-text">
                <div>
                    <h3 class="">Piscina</h3>
                    <p class="">Disponemos de dos piscinas, una en cada torre, diseñadas con ambientes diferentes pensados en usted para ofrecerle la máxima comodidad. 
                        <br> <br>
                        La piscina de la Torre Caimán ofrece un ambiente tropical para descansar bajo el sol de Barranquilla. La piscina de la Torre Cayena cuenta con vistas a la ciudad.</p>
                    
                </div>
            </div>
        </div>
        <div class="row service">
            <div class="col-md-7 order-lg-2">
                    <!-- Carrusel imagenes servicios -->
                    <div id="carouselGimnasio" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselGimnasio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselGimnasio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselGimnasio" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../Public/img/gym1.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../Public/img/gym2.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../Public/img/gym3.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselGimnasio"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselGimnasio"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 order-lg-1 service-text">
                <div>
                    <h3 class="">Gimnasio</h3>
                    <p class="">
                        La sala de máquinas cuenta con equipación específica para actividades de cardio y fitness como cintas para correr o andar, bicicletas estáticas o pesas.
                        Abierto de 10 a 22 horas.
                        <br><br>
                        *Menores de 12 años deben ir acompañados de un adulto.
                    </p>
                </div>
            </div>
        </div>
        <div class="row service">
            <div class="col-md-7 order-lg-1">
                <!-- Carrusel imagenes servicios -->
                <div id="carouselEventos" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselEventos" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselEventos" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselEventos" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../Public/img/eventos1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../Public/img/eventos2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../Public/img/eventos3.jpeg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselEventos"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselEventos"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 order-lg-2 service-text">
                <div>
                    <h3 class="">Eventos Especiales</h3>
                    <p class="">
                        Totalmente incorporados en el diseño del hotel, nuestros espacios para eventos están llenos de luz natural para proporcionar un espacio inspirador para conectarse. Deje que nuestro dedicado equipo maneje detalles como montaje de sillas y menús de catering, mientras usted se concentra en la lista de invitados.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% include "footer.html" %}